<?xml version="1.0"?>
<ruleset name="WP Coding Standards">

	<!-- Files to check. -->
	<file>.</file>

	<!-- Exclude paths. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="5.8"/>

	<!-- Only scan PHP files. -->
	<arg name="extensions" value="php"/>
	<!-- The report types to print. -->
	<arg name="report" value="summary,source,full"/>
	<!-- Show sniff and progress. -->
	<arg value="sp"/>
	<!-- Strip the file paths down to the relevant bit. -->
	<arg name="basepath" value="./"/>
	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20"/>
	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache"/>
	<!-- Enable colors in report. -->
	<arg name="colors"/>
	
	<rule ref="WordPress">
		<!-- Ignore the need @package tag on the file comments + full stop at the end of comments + assignemts inside IFs -->
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Generic.Commenting.DocComment.ShortNotCapital"/>
		<!--<exclude name="WordPress.CodeAnalysis.AssignmentInCondition.Found"/>
		<exclude name="Squiz.PHP.DisallowMultipleAssignments.FoundInControlStructure"/>-->
		<!--<exclude name="Squiz.Commenting.FileComment.Missing"/>-->
		<!-- No Yoda conditions! -->
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
		<!--<exclude name="Universal.Operators.DisallowStandalonePostIncrementDecrement.PostIncrementFound"/>-->
	</rule>

	<!-- Textdomain -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<!-- Set the Text Domain -->
			<property name="text_domain" type="array">
				<element value="payment-multibanco-for-fluent-cart-via-ifthenpay"/>
			</property>
		</properties>
	</rule>

</ruleset>